<ion-content >
  <ion-grid>
      <ion-row>
          <ion-col size="12">
              <ion-item>
                  <ion-label position="stacked" color="primary">Acc Id</ion-label>
                  <ion-input readonly="true">{{header.Id}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label  position="stacked" color="primary" >Client Name</ion-label>
                  <ion-input readonly="true">{{client.ArName}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Client English Name</ion-label>
                  <ion-input readonly="true" >{{client.EnName}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Delivery Address</ion-label>
                  <ion-input readonly="true" >{{client.DeliveryAddress }}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Billing Address</ion-label>
                  <ion-input readonly="true" >{{client.BillingAddress}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Balance</ion-label>
                  <ion-input readonly="true" >{{client.Balance}}</ion-input>
              </ion-item>
          </ion-col>
          <!-- <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Delivery Address</ion-label>
                  <ion-input readonly="true" >{{header.DeliveryAddress}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Delivery Option</ion-label>
                  <ion-input readonly="true" >{{header.DeliveryOption}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Client Name</ion-label>
                  <ion-input readonly="true" >{{header.ClientName}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Comments</ion-label>
                  <ion-input readonly="true" >{{header.Comments}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Private Comment</ion-label>
                  <ion-input readonly="true" >{{header.PrivateComment}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Reference</ion-label>
                  <ion-input readonly="true" >{{header.Reference}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Taxes</ion-label>
                  <ion-input readonly="true" >{{header.Taxes}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Date</ion-label>
                  <ion-input readonly="true" >{{header.Date | date: 'dd/MM/yyyy'}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Currency</ion-label>
                  <ion-input readonly="true" >{{header.Currency}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Currency Rate</ion-label>
                  <ion-input readonly="true" >{{header.CurrencyRate}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Payment Option</ion-label>
                  <ion-input readonly="true" >{{header.PaymentOption}}</ion-input>
              </ion-item>
          </ion-col> -->
      </ion-row>
  </ion-grid>
</ion-content>
