<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Invoice Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab-bar slot="top" color="primary">

      <ion-tab-button tab="invoice-items">
        <ion-label>Items</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="invoice-header">
        <ion-label>Header</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="invoice-attachments">
        <ion-label>Attachments</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
