h6.stock-name {
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}
span.stock-units {
    color: #808080;
}
.stock-serial {
    margin-bottom: 10px;
    border-bottom: 1px solid #00afc5;
    padding: 0 0 0 0;
    margin-top: 10px;
}
h6.stock-name {
    font-weight: 400;
    margin-bottom: 5px;
    color: #008b9c;
    font-size: 16px;
}
.ion-padding, [padding] {
    --padding-start: var(--ion-padding, 8px);
    --padding-end: var(--ion-padding, 16px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 16px);
    padding-left: var(--ion-padding, 16px);
    padding-right: var(--ion-padding, 16px);
    padding-top: var(--ion-padding, 16px);
    padding-bottom: var(--ion-padding, 16px);
}