

.btn {
    margin-top: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.recently-completed {
    border-bottom: 1px solid #00afc5;
}
.recently-text {
    font-size: 10px;
    color: #00afc5;
    padding-left:5px;
    padding-top: 13px;
    margin-top: 5px;
}

.font-size-12 {
    font-size: 12px;
}