<ion-content padding>

    <div class="history" *ngFor="let history of header.Cheque; let i = index">  
      <ion-row text-center>
          <ion-col>
              <ion-button (click)="deleteCheque(header.Cheque, i)">
                  Delete
                </ion-button>
          </ion-col>
           <ion-col>
              <ion-button (click)="updateModal('check', history, i)">
                  Update
                </ion-button>
           </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" class="history-invoice-no">AccountName : الشيكات الواردة</ion-col>
          <!-- <ion-col size="4" class="history-invoice-price" text-right>{{history.RV_Amount | currency: 'AED '}}</ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col size="6" class="history-company-name">EqualAmount : {{(history.Equal_Debit)?history.Equal_Debit:'N/A'}}</ion-col>
          <ion-col size="6" class="history-company-name">Amount : {{(history.Debit)?history.Debit:'N/A'}}</ion-col>
          <!-- <ion-col size="3" class="closed-status" text-center>{{(history.Amount)?history.Amount:'Closed'}}</ion-col> -->
        </ion-row>
        <ion-row>
            <ion-col size="6" class="history-company-name">CheckAcc : {{(history.CheckAccout)?history.CheckAccout:'N/A'}}</ion-col>
            <ion-col size="6" class="history-company-name">CheckNo : {{(history.CheckNo)?history.CheckNo:'N/A'}}</ion-col>
            <!-- <ion-col size="3" class="closed-status" text-center>{{(history.Amount)?history.Amount:'Closed'}}</ion-col> -->
          </ion-row>
          <ion-row>
              <ion-col size="6" class="history-company-name">Branch Code : {{(history.BranchCode)?history.BranchCode:'N/A'}}</ion-col>
              <ion-col size="6" class="history-company-name">Cheque Date :  {{history.ChequeDate | date: 'dd/MM/yyyy'}}</ion-col>
              <!-- <ion-col size="3" class="closed-status" text-center>{{(history.Amount)?history.Amount:'Closed'}}</ion-col> -->
            </ion-row>
        <ion-row class="history-date-row">
            <!-- <ion-col size="12">
              {{history.CheckDate | date: 'dd/MM/yyyy'}}
            </ion-col> -->
          </ion-row>
      </div>

   <!-- fab placed to the bottom end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal('check')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
