ion-grid {
    font-size: 12px;
}

.heading {
    font-size: 12px;
    font-weight: bold;
    color: #31afc7;
    background: #fff;
    border-bottom: 2px solid #31afc7;
    
}

.header {
    background: #31afc7;
}

.client-row{
    margin-bottom: 10px;
    border-bottom: 2px solid #31afc7;
    padding: 10px;
}