<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Client Detail</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-tabs>
      <ion-tab-bar slot="top" color="primary">
  
        <ion-tab-button tab="client-general">
            <ion-icon name="list"></ion-icon>
          <ion-label>General</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="client-spl-price">
            <ion-icon name="pricetag"></ion-icon>
          <ion-label>Spl Price</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="client-attachments">
            <ion-icon name="images"></ion-icon>
          <ion-label>Attachments</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="client-balance">
            <ion-icon name="cash"></ion-icon>
          <ion-label>Balance</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="client-unpaid">
            <ion-icon name="close"></ion-icon>
            <ion-label>Unpaid</ion-label>
          </ion-tab-button>

        <ion-tab-button tab="client-history">
            <ion-icon name="redo"></ion-icon>
            <ion-label>History</ion-label>
          </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  
  </ion-content>
