<!-- <ion-header>
  <ion-toolbar>
    <ion-title>salesorder-header</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <ion-grid>
      <ion-row>
          <ion-col size="12">
              <ion-item>
                  <ion-label position="stacked" color="primary">Created By</ion-label>
                  <ion-input >{{header.CreatedBy}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label  position="stacked" color="primary" >Agent</ion-label>
                  <ion-input >{{header.Agent}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Rate</ion-label> 
                  <ion-input  >{{header.Rate}}</ion-input>
              </ion-item>
          </ion-col>
          <!-- <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Delivery Date</ion-label>
                  <ion-input  >{{header.DeliveryDate | date: 'dd/MM/yyyy'}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Email Sent Date</ion-label>
                  <ion-input  >{{header.EmailSentDate | date: 'dd/MM/yyyy'}}</ion-input>
              </ion-item>
          </ion-col> -->
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Billing Address</ion-label>
                  <ion-input  >{{header.BillingAddress}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Delivery Address</ion-label>
                  <ion-input  >{{header.DeliveryAddress}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Delivery Option</ion-label>
                  <ion-input  >{{header.DeliveryOption}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Client Name</ion-label>
                  <ion-input  >{{header.ClientName}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Comments</ion-label>
                  <ion-input  >{{header.Comments}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Private Comment</ion-label>
                  <ion-input  >{{header.PrivateComment}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Reference</ion-label>
                  <ion-input  >{{header.Reference}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Taxes</ion-label>
                  <ion-input  >{{header.Taxes}}</ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Date</ion-label>
                  <ion-datetime [(ngModel)]="header.Date" display-format="YYYY-MM-DD" min="2016" max="2050-12-31"></ion-datetime>
                  
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Currency</ion-label>
                  <ion-select [(ngModel)]="header.CurrencyID" okText="Okay" cancelText="Dismiss">
                    <ion-select-option *ngFor="let curr of Currency" [value]="curr.Id">{{curr.EnName}}</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Currency Rate</ion-label>
                  <ion-input [(ngModel)]="header.CurrencyRate" ></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label color="primary" position="stacked">Payment Option</ion-label>
                  <ion-input  >{{header.PaymentOption}}</ion-input>
              </ion-item>
          </ion-col>
          <!-- <ion-col size="12">
              <ion-item>
                  <ion-label>Delivery Date</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label>Email Sent Date</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label>Billing Address</ion-label>
                  <ion-select [(ngModel)]="billing-address">
                      <ion-select-option value="Delivery Address12">Billing Address 1</ion-select-option>
                      <ion-select-option value="Delivery Address1">Billing Address 2</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label>Delivery Address</ion-label>
                  <ion-select [(ngModel)]="delivery-address">
                      <ion-select-option value="Delivery Address12">Delivery Address 1</ion-select-option>
                      <ion-select-option value="Delivery Address">Delivery Address 2</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label>Delivery Option</ion-label>
                  <ion-select [(ngModel)]="delivery-option">
                      <ion-select-option value="Delivery Option12">Delivery Option 1</ion-select-option>
                      <ion-select-option value="Delivery Option">Delivery Option 2</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col> -->
      </ion-row>

      <!-- <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="6"><button ion-button full class="update-items">Update Items</button></ion-col>
          <ion-col size="3"></ion-col>
      </ion-row> -->

  </ion-grid>
</ion-content>
